[push]
  default = upstream

[color]
  branch = auto
  diff = auto
  status = auto

[user]
  name = Micke Lisinge
  email = lisinge@gmail.com

[mergetool]
  keepBackup = true

[merge]
  defaultToUpstream = true

[alias]
  ci = commit
  st = status -sb
  de = push heroku master
